@import '_colors';
@import '_shadows';

$layout: dark;

$bg-color: $black;
$text-color: $white;

@if $layout == light {
    $bg-color: $white;
    $text-color: $black;
} @else if $layout == dark {
    $bg-color: $black;
    $text-color: $white;
}

@mixin responsive() {
    @media screen and (max-width: 960px) {
        @content;
    }
}

@mixin title($size: 24px) {
    font-size: $size;
}

body {
    background-color: $bg-color;

    h1 {
        color: $text-color;

        @include title(48px);

        span {
            color: $blue;
        }
    }

    button {
        color: $white;
        background-color: $blue;
        box-shadow: $shadow-1;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        transition: ease-in-out 250ms;

        &:hover {
            background-color: $blue-light;
        }

        &:active {
            background-color: $blue-dark;
        }

        border: {
            color: $white;
            width: 1px;
            style: solid;
            radius: 4px;
        }
    }

    p {
        color: $text-color;
        background-color: $bg-color;

        @include responsive() {
            background-color: deeppink;
        }
    }
}
